.intro {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.recent-posts {
  padding-top: 2rem;
}

.recent-posts h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

.view-all-posts {
  display: flex;
  justify-content: center;
}
