header.app-header {
  padding: 3rem 0;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a.active {
  text-decoration: underline;
}

footer.app-footer {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
}

footer.app-footer a {
  margin-right: 1.5rem;
}

footer.app-footer a:last-child {
  margin-right: 0;
}
